{% extends 'homebase.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron text-center border-left border-right border-bottom border-danger ">
        <p> {{ settings.aboutme | safe }} </p>
    </div>
</div>
<hr class="mb-5 mt-5">
<div class="container">
    <div class="jumbotron-fluid text-center jumbotron border-left border-right border-bottom border-danger">
        <div class="container">
            <p>
                {{ settings.career | safe }}
            </p>
        </div>
    </div>

    <div class="card-header text-center navbar-expand p-4 mb-5 border-left border-right border-top ">
        <div class="progress ">
            <div class="progress-bar bg-dark pt-2 pb-1" style="width: 100%;">
                <h5 class="display-5">
                    Software Knowledge Progress
                </h5>
            </div>
        </div>
        <br>
        {% for lang in languages %}

            <div class="progress">
                <div class="progress-bar w-{{ lang.progress }}">
                    {{ lang.name }}
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
</div>
{% endblock %}

