 <navbar class="navbar navbar-expand-sm bg-dark mb-5 fixed-top" style="opacity: 0.8">
        <div class="container">
            <a href="/" class="navbar-brand text-danger">
                <i class="fas fa-angle-right"> </i> &nbsp; Sefa İlyas Öz
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <i class="fas fa-ellipsis-v"></i>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link ac text-danger">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/blogs" class="nav-link ac text-danger">
                            Blogs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/aboutme" class="nav-link ac text-danger">
                            About Me
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link ac text-danger">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
 </navbar>
 <navbarr class="navbar navbar-expand mt-5 mb-5">
 </navbarr>