{% extends 'homebase.html' %}

{% block content %}
    <div class="container text-center">
        <div class="jumbotron">
           <img class="img-thumbnail" src="{{ blogs.image.url }}" alt="" width="400" height="270">
        </div>
    </div>
    <div class="container mt-5">
        <div class="mt-5">
                <div class="card text-center">
                    <h4 class="card-title">{{ blogs.title }}</h4>
                     <p class="card-text">{{ blogs.blog | safe }}</p>
                </div>
        </div>
    </div>
    <div class="card-header text-center navbar-expand p-4 mb-5 mt-5">
    </div>
{% endblock %}